[project]
	description = Service(Back-end)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/techoni3
[access "refs/for/refs/*"]
	read = group user/techoni3
	push = group user/techoni3
	label-Code-Review = -2..+2 group user/techoni3
	label-Verified = -1..+1 group user/techoni3
	rebase = group user/techoni3
	removeReviewer = group user/techoni3
	submit = group user/techoni3
[access "refs/heads/*"]
	read = group user/techoni3
	create = group user/techoni3
	push = +force group user/techoni3
	pushMerge = group user/techoni3
[access "refs/tags/*"]
	push = +force group user/techoni3
	pushTag = group user/techoni3
	pushSignedTag = group user/techoni3
